body {
	font-size: 16px;
  	color: black;
  	background-color: red;
}
#header-nav {
	background-color: yellow;
	border-radius: 0;
	border: 2px black;
}
.navbar-brand h1 {
	color: #000000;
 	font-size: 1.5em;
 	font-weight: bold;
	text-shadow: 2px 2px 2px ;
	margin-top: 1px;
	margin-bottom: 1px;
	line-height: .75;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list a {
	color: darkgreen;
  	text-align: center;
  	text-decoration: bold;
}
#nav-list a:hover {
  background: red;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active> {
    color: black;
    background-color: yellow;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
.row {
	width: 100%;
	position: relative;
}
.div_title {
	border: 0px;
	position: relative;
	text-align: center;
	font-weight: bold;
	padding: 3px;
	font-size: 18px;
}
.category-explanation {
	border: 2px;
	border-color: black;
	background-color: yellow;
	color: black;
	margin-left: 15px; 
	margin-top: 15px;
}

.paragraph {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 0;
}
#menu-title {
	text-align: center;
	color: #000;
}

