<br><br><br><br>
<div ng-if="menu.isEmpty()">Nothing found :) I am so sorry!</div>
<ul class="list-unstyled">
  <li ng-repeat="item in menu.items">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h2>{{item.name}}</h2>
        <h3>
          <p color=black>{{item.id}}</p>
          <p color=black>{{item.short_name}}</p>
        </h3>
        <p>{{item.description}}</p>
        <p>
          <span class="label">Small Price {{item.price_small | currency }}</span>
          <span class="label">Large Price {{item.price_large | currency }}</span>
        </p>
        <p>
          <span class="label">Small Portion {{item.small_portion_name}}</span>
          <span class="label">Large Portion {{item.large_portion_name}}</span>
        </p>
        <button ng-click="menu.onRemove({index: $index});">Remove Item</button>
      </div>
    </div>
  </li>
</ul>
